@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Hind");
@import url("https://fonts.googleapis.com/css?family=Teko");
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
  background: #000000;
  /*opacity: 0.8; 
  background: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

#wrapper {
  height: auto;
}

#navbar {
  overflow: hidden;
  background-color: transparent;
}
#navbar #logo {
  padding-left: 20px;
  height: 70px;
  float: left;
}
#navbar .links {
  float: right;
}
#navbar .links a {
  box-sizing: border-box;
  height: 70px;
  /* font-weight: bold; */
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 26px 14px;
  text-decoration: none;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  position: relative;
}
#navbar .links a .borderbottom {
  position: absolute;
  bottom: 0;
  left: 5%;
  background-color: #ffffff;
  height: 3px;
  width: 0%;
  transition: 0.5s ease-in-out;
}
#navbar .links a:hover {
  /*  background-color: $red; */
  font-weight: bold;
  color: #ffffff;
}
#navbar .links a:hover .borderbottom {
  width: 90%;
}
#navbar .links .active {
  /*   background-color: $red; */
  font-weight: bold;
  color: #ffffff;
}
#navbar .links .active .borderbottom {
  width: 90%;
}
#navbar .links .dropdown .dropdown-content a {
  color: #ffffff;
  background: transparent;
  font-weight: bold;
  float: none;
  font-size: 20px;
  text-align: left;
  padding: 14px 14px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
}
#navbar .links .dropdown .dropdown-content a:hover {
  background-color: #ffffff;
  color: #000000;
}
#navbar .links .dropdown .dropbtn {
  box-sizing: border-box;
  height: 70px;
  position: relative;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 18px;
  transition: 0.5s;
  padding: 26px 14px;
}
#navbar .links .dropdown .dropbtn .borderbottom {
  position: absolute;
  bottom: 0;
  left: 5%;
  background-color: #ffffff;
  height: 3px;
  width: 0%;
  transition: 0.5s ease-in-out;
}
#navbar .links .dropdown .dropbtn:hover {
  /*      background-color: $red; */
  color: #ffffff;
  font-weight: bold;
}
#navbar .links .dropdown .dropbtn:hover .borderbottom {
  width: 90%;
}

#mobiledrop {
  transition: 0.5s ease-in-out;
  display: none;
  font-size: 25px;
  font-weight: bold;
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: #CF0823;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  transition: 1s ease;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: 1s ease;
}

.dropdown-content a:hover img {
  transform: scale(1.3);
}

.minicar {
  transition: 1s ease-in-out;
  height: 35px;
  margin-left: 15px;
}

.smallcar {
  transition: 1s ease-in-out;
  height: 40px;
  margin-left: 16px;
}

.exception {
  transition: 1s ease-in-out;
  height: 45px;
  margin-left: 10px;
}

#landing {
  background: url("../img/landing.jpg");
  z-index: -10 !important;
  min-width: 100%;
  min-height: 50vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  opacity: 0;
  animation: 1.5s ease 1.5s showText;
  animation-fill-mode: forwards;
}
#landing .landingtext {
  position: absolute;
  text-align: center;
  top: -5%;
  line-height: 1;
  left: 35%;
  color: #ffffff;
  font-size: 6vw;
  font-family: "Teko", sans-serif;
}
#landing .landingtext .one {
  opacity: 0;
  animation: 3.5s ease 3.5s showText;
  animation-fill-mode: forwards;
}
#landing .landingtext .two {
  opacity: 0;
  animation: 4.5s ease 4.5s showText;
  animation-fill-mode: forwards;
}
#landing .landingtext .three {
  opacity: 0;
  animation: 5.5s ease 5.5s showText;
  animation-fill-mode: forwards;
}
#landing .landingtext .four {
  opacity: 0;
  animation: 7s ease 7s showText;
  animation-fill-mode: forwards;
}
#landing .landingtext .five {
  opacity: 0;
  animation: 9s ease 9s showText;
  animation-fill-mode: forwards;
  font-size: 4vw;
  position: relative;
  top: 25vw;
}

.performance {
  opacity: 0;
  animation: 10s ease 10s showText;
  animation-fill-mode: forwards;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  background: #000000;
  color: #ffffff;
  z-index: 10000;
  text-align: center;
}
.performance .mainperf {
  font-size: 2rem;
  font-family: "Teko", sans-serif;
  margin-bottom: 0;
}
.performance i {
  font-size: 3rem;
}
.performance .fa-star {
  font-size: 2rem;
}
.performance .perfdesc {
  font-weight: 100;
}

.slider {
  z-index: 0;
  position: relative;
  margin: auto;
  width: 100%;
}

.img {
  position: relative;
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  bottom: -20px;
  padding-left: 10px;
  padding-right: 50px;
  padding-bottom: 20px;
  font-weight: bold;
  background: #ffffff;
  width: auto;
  border-top-right-radius: 100%;
}
.content h2 {
  font-family: "Teko", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 0;
  margin-top: 10px;
}
.content p {
  margin-top: 0;
  font-weight: 400;
}

#sliderwrapper {
  position: relative;
  width: 100%;
  min-height: 60vw;
  overflow: hidden;
}

.layer {
  position: absolute;
  width: 100vw;
  min-height: 60vw;
  overflow: hidden;
}

.layer .content-wrapper {
  position: absolute;
  width: 100vw;
  min-height: 60vw;
}

.layer .content-body {
  width: 25%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  color: #ffffff;
}

.black, .grey {
  position: absolute;
  width: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layer h1 {
  font-size: 2em;
}

.bottom {
  background: #000000;
  z-index: 1;
}

.bottom .content-body {
  right: 5%;
}

.bottom h1 {
  color: #CF0823;
}

.top {
  background-color: #eee;
  color: #000000;
  z-index: 2;
  width: 50vw;
}

.top .content-body {
  left: 5%;
  color: #000000;
}

.handle {
  position: absolute;
  height: 100%;
  display: block;
  background-color: #CF0823;
  width: 5px;
  top: 0;
  left: 50%;
  z-index: 3;
}

.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .content-wrapper {
  transform: skew(30deg);
  margin-left: 1000px;
}

#gototop {
  font-size: 45px;
  color: #ffffff;
  position: fixed;
  bottom: 35px;
  right: 35px;
  z-index: 9999;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
}

.row1 {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 25px 60px;
}

.row2 {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 25px 60px;
}

.side1, .main2 {
  box-sizing: border-box;
  flex: 30%;
  background-color: transparent;
  padding: 20px;
  position: relative;
}

.main1, .side2 {
  box-sizing: border-box;
  flex: 70%;
  background-color: transparent;
  padding: 20px;
}

.newsimg {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 25vw;
  transition: 0.5s ease;
}
.newsimg:hover {
  transform: scale(1.05);
}

.sectiontitle {
  margin-top: 150px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

#news1 {
  background: url("../img/news1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 900;
}

#news2 {
  background: url("../img/news2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1000;
}

#news3 {
  background: url("../img/news3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1000;
}

#news4 {
  background: url("../img/news4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 900;
}

.newstitle {
  position: absolute;
  bottom: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  padding: 20px;
  margin: 0;
  background: rgba(0, 0, 0, 0.612);
  border-top-right-radius: 90px;
}

.ribbon {
  width: 125px;
  height: 125px;
  overflow: hidden;
  position: absolute;
  z-index: 999;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  height: 16px;
  padding: 15px 16px;
  background-color: #CF0823;
  color: #ffffff;
  font-size: 28px;
  padding-bottom: 30px;
  font-weight: bold;
  font-family: "Teko", sans-serif;
  text-align: center;
}

.ribbon-top-right {
  top: 0px;
  right: 0px;
}

.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

footer {
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  padding: 15px;
}
footer p {
  padding: 0;
}

@keyframes showText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*responsive*/
@media (max-width: 600px) {
  .content {
    font-size: 0.6em;
  }

  .row1, .row2 {
    padding-left: 0;
    padding-right: 0;
  }

  .side1, .side2, .main1, .main2 {
    width: 80% !important;
    margin: 0 10% 20px 10% !important;
  }

  .newsimg {
    height: 40vw !important;
    width: 100%;
  }

  .newstitle {
    font-size: 14px;
  }

  .performance {
    padding: 0 60px 60px 60px;
    display: flex;
    flex-direction: column;
  }
  .performance .perfdesc {
    padding-bottom: 20px;
    border-bottom: 2px solid #ffffff;
  }
  .performance .mainperf {
    font-size: 1.5rem;
    font-family: "Teko", sans-serif;
    margin-bottom: 0;
  }
  .performance i {
    font-size: 2.5rem;
  }
  .performance .fa-star {
    font-size: 1.5rem;
  }
  .performance .perfdesc {
    font-size: 0.8rem;
    font-weight: 100;
  }

  #landing .landingtext .five {
    font-size: 6vw;
  }
}
@media (max-width: 900px) {
  .row1, .row2 {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
  }

  .side1, .side2, .main1, .main2 {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
  }

  .newsimg {
    height: 35vw;
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .side1, .main2 {
    flex: 40%;
  }

  .side2, .main1 {
    flex: 60%;
  }

  .links {
    display: none;
  }

  .navbar #mobiledrop {
    float: right;
    display: block;
    position: absolute;
    right: 25px;
    top: 25px;
    color: #ffffff;
  }
  .navbar #mobiledrop:active {
    color: #ffffff;
  }
  .navbar #mobiledrop:visited {
    color: #ffffff;
  }

  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive #mobiledrop {
    position: absolute;
    right: 25px;
    top: 25px;
  }
  .navbar.responsive .links {
    position: relative;
    bottom: 0;
    display: block;
    text-align: left;
  }

  .navbar.responsive .links a, div {
    width: 100%;
  }

  .navbar.responsive .dropdown {
    float: none;
  }

  .navbar.responsive .dropdown-content {
    position: relative;
  }

  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 1350px) {
  #wrapper {
    height: 100vh;
  }

  #landing .landingtext .five {
    font-size: 4vw;
    position: relative;
    top: 21vw;
  }
}

/*# sourceMappingURL=style.css.map */
